<div class="all" >
  <div class="imgDiv">
    <img src= <%=u.photo%> alt="alternatetext">
  </div>
  <div class="userDiv">
    <h2><%=link_to u.name, user_path(u.id) %></h2>
    <div class="comments">Number of posts: <%= u.posts_counter %></div>
  </div>
</div>
