<%= render partial: "user_card", locals: {u: @user} %>
<div>
  <div>Bio</div>
  <%= @user.bio %>
</div>
<div>
  <% for i in @posts do %>
    <%= render partial: "posts/post_card", locals: {post: i} %>
  <% end %>
</div>
<button type='button'>See all posts</button>

