.postCard {
  border: 1px solid black;
  margin: 10px 0;
}

.postTitle {
  font-weight: 600;
  margin: 0 0 10px;
}

.postComments {
  display: flex;
  justify-content: flex-end;
}

.postComments > div {
  align-self: flex-end;
}

.postAbout {
  border: 1px solid black;
}

.postTop {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.postComment {
  border: 1px solid black;
}

.all {
  display: flex;
  height: 100px;
  justify-content: space-between;
  margin: 10px 0;
}

.all > div {
  border: 1px solid black;
}

.imgDiv {
  width: 20%;
}

img {
  width: 100%;
}

.userDiv {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.comments {
  align-self: flex-end;
}

.showAll {
  width: 90%;
  margin: auto;
}

.bioDiv {
  border: 1px solid black;
}

.bio {
  margin: 0 0 20px;
}
